body {
    margin: 0;
    background-color: black;
  }

  #stats {
    position: relative;
    width: 100%;
    height: 80px;
  }

  #main {
    position: relative;
    margin: 0;
  }

  select {
    /* display: none; */
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0px;
    
  }

  select option {
    color: inherit;
    background-color: #320a28;
  }

  select:focus {
    outline: none;
  }

  select::-ms-expand {
    display: none;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .video-container {
    display: none;
  }

  #output {
    opacity: 1;
  }

  .button-container {
  position: absolute;
  bottom: 50%;
  left: 50px;
  }

  .demo a {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  }

  .demo a:hover {
  opacity: .5;
  }

  #goingLeft, #goingRight a {
    padding-top: 50px;
}

#goingLeft a span {
    position: absolute;
    /* top: 0; */
    width: 35px;
    height: 35px;
    margin-left: -12px;
    border-left: 3px solid #ededed;
    border-top: 3px solid #ededed;
    transform: rotate(-45deg);
    animation: buttonAnimation 2s infinite;
    box-sizing: border-box;
}
#goingRight a span {
    position: absolute;
    /* top: 0; */
    width: 35px;
    height: 35px;
    margin-left: -12px;
    border-right: 3px solid #ededed;
    border-bottom: 3px solid #ededed;
    transform: rotate(-45deg);
    animation: buttonAnimationRight 2s infinite;
    box-sizing: border-box;
}

  @keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
  }

  @keyframes buttonAnimation {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, -10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
  } 


  .spinner-loader {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 40px;
  animation: fadeIn 0.5s;
}

.handwave-loader {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 40px;
  animation: fadeIn 0.5s;
}

.toggle-switch {
  display: none;
  position: absolute;
  width: 200px;
  margin: 10px 50vh;
  
}

.label-toggle {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

#bttn {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(95px);
  background-color: var(--dark);
  box-shadow: none;
}
:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
} 
    .video-container {
      display: none;
    }
    #output {
      opacity: 0.4;
    }